<section class="advertisement-section section">
  <div class="advertisement-linner">
    <h2 class="advertisement-title">
      <span class="accent">Master</span> your photography
      <span class="accent">skills with us!</span>
    </h2>
    <h2 class="advertisement-title">
      <span class="accent">Master</span> your photography
      <span class="accent">skills with us!</span>
    </h2>
    <h2 class="advertisement-title">
      <span class="accent">Master</span> your photography
      <span class="accent">skills with us!</span>
    </h2>
  </div>
</section>
