<!-- Footer -->
<section class="footer">
    <div class="container">
        <svg class="logo-footer">
            <use></use>
        </svg>
       <address>
        <a href="tel:+380665438912">Ua: +38 066 543 8912<br /></a>
        Ukraine, Kyiv
       </address>
       
       <p>Privacy Policy
    Public Offering Agreement</p>

    <ul class="footer-list">
        <li>
            <a class="footer-link" href="https://www.instagram.com/goitclub/" target="_blank"  rel="noreferrer">instagram</a>
        </li>
        <li>
            <a class="footer-link" href="https://www.facebook.com/goITclub/" target="_blank"  rel="noreferrer">Facebook</a>
        </li>
        <li>
            <a class="footer-link" href="https://www.youtube.com/c/GoIT" target="_blank"  rel="noreferrer">Youtube</a>
        </li>
    </ul>

    <ul>
        <li>
            <p id="about-us">about us</p>
        </li>
        <li>
            <p id="our-courses">our courses</p>
        </li>
        <li>
            <p id="our-mentors">our mentors</p>
        </li>
        <li>
            <p id="reviews">reviews</p>
        </li>
        <li>
            <p id="address">contacts</p>
        </li>
    </ul>
    <form action="">
        <label for="">
        <input type="text" name="" />
        </label>
        <button type="submit">Go</button>
    </form>
    <p>2023 Focus Frame
    © All rights reserved</p>
    </div>
</section>