<header class="header">
  <div class="container-header container">
    <nav class="nav-header">
      <a href="/index.html">
        <svg class="logo-header" width="127" height="20">
          <use href="./img/icons.svg#logo"></use>
        </svg>
      </a>
      <ul class="list-nav">
        <li class="link-header">
          <a class="items-nav" href="#about">About us</a>
        </li>
        <li class="link-header">
          <a class="items-nav" href="#courses">Our courses</a>
        </li>
        <li class="link-header">
          <a class="items-nav" href="#mentors">Our mentors</a>
        </li>
        <li class="link-header">
          <a class="items-nav" href="#reviews">Reviews</a>
        </li>
        <li class="link-header">
          <a class="items-nav" href="#contacts">contacts</a>
        </li>
      </ul>

      <a class="btn-camera" href="#sign-up">
        <svg class="icon-camera" width="16" height="16">
          <use href="./img/icons.svg#icon-bi_camera-fill"></use>
        </svg>
      </a>

      <button
        class="menu-burger js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="icon-burger" width="32" height="22">
          <use href="./img/icons.svg#icon-nav"></use>
        </svg>
      </button>
    </nav>

    <a class="btn-sign-up" href="#sign-up">SIGN UP</a>
  </div>
</header>
<!-- Mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-btn js-close-menu" type="button">
    <svg class="menu-btn-icon" width="32" height="32">
      <use href="../img/icons.svg#icon-x"></use>
    </svg>
  </button>
  <ul class="mobile-menu-list">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#about">About us</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#courses">Our courses</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#mentors">Our mentors</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#reviews">Reviews</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#contacts">contacts</a>
    </li>
  </ul>

  <picture>
    <!-- Tablet screen -->
    <source
      media="(min-width: 768px)"
      srcset="
        ./img/rectangle-6mobile-menu768@1x_result.jpg 1x,
        ./img/rectangle-6mobile-menu786@2x_result.jpg 2x
      "
    />
    <!-- Mobile screen -->
    <source
      media="(max-width: 767px)"
      srcset="
        ./img/rectangle-6mobile-menu320@1x_result.jpg 1x,
        ./img/rectangle-6mobile-menu320@2x_result.jpg 2x
      "
    />
    <img
      class="mobile-menu-pic"
      src="./img/rectangle-6mobile-menu320@1x_result.jpg"
      alt="camera"
      width="329"
      height="218"
    />
  </picture>
</div>
