<section class="our-mentors-section">
  <div class="container mentors-wrapper">
    <h2 class="our-mentors-title">Our <span class="accent">Mentors</span></h2>
    <ul class="description-list">
      <li class="list-our-mentors">
        <div class="mentors-img-adapt">
          <picture class="mentors-picture">
            <source
              media="(min-width: 320px)"
              srcset="
                ./img/girl-1our-mentors@1x_result.png 1x,
                ./img/girl-1our-mentors@2x_result.png 2x
              "
            />
            <img
              class="mentors-item-img"
              src="./img/girl-1our-mentors@1x_result.png"
              alt="img-our-mentors"
              width="180"
              height="180"
            />
          </picture>
        </div>
        <div class="mentors-item">
          <h3 class="mentors-item-name">Emilia Smith</h3>
          <p class="mentors-item-text">1.5 years of experience</p>
        </div>
      </li>
      <li class="list-our-mentors">
        <div class="mentors-img-adapt">
          <picture class="mentors-picture">
            <source
              media="(min-width: 320px)"
              srcset="
                ./img/boy-1our-mentors@1x_result.png 1x,
                ./img/boy-1our-mentors@2x_result.png 2x
              "
            />
            <img
              class="mentors-item-img"
              src="./img/boy-1our-mentors@1x_result.jpg"
              alt="img-our-mentors"
              width="180"
              height="180"
            />
          </picture>
        </div>
        <div class="mentors-item">
          <h3 class="mentors-item-name">Alex Lebedev</h3>
          <p class="mentors-item-text">3.5 years of experience</p>
        </div>
      </li>
      <li class="list-our-mentors">
        <div class="mentors-img-adapt">
          <picture class="mentors-picture">
            <source
              media="(min-width: 320px)"
              srcset="
                ./img/girl-2our-mentors@1x_result.png 1x,
                ./img/girl-2our-mentors@2x_result.png 2x
              "
            />
            <img
              class="mentors-item-img"
              src="./img/girl-2our-mentors@1x_result.png"
              alt="img-our-mentors"
              width="180"
              height="180"
            />
          </picture>
        </div>
        <div class="mentors-item">
          <h3 class="mentors-item-name mentor-element">Mia Dubrovska</h3>
          <p class="mentors-item-text">2.0 years of experience</p>
        </div>
      </li>
      <li class="list-our-mentors">
        <div class="mentors-img-adapt">
          <picture class="mentors-picture">
            <source
              media="(min-width: 320px)"
              srcset="
                ./img/boy-2our-mentors@1x_result.png 1x,
                ./img/boy-2our-mentors@2x_result.png 2x
              "
            />
            <img
              class="mentors-item-img"
              src="../img/boy-2our-mentors@1x_result.png"
              alt="img-our-mentors"
              width="180"
              height="180"
            />
          </picture>
        </div>
        <div class="mentors-item">
          <h3 class="mentors-item-name">Eliot Kovalev</h3>
          <p class="mentors-item-text">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
