<section class="our-mentors-section">
  <div class="container">
    <h2 class="our-mentors-title">Our <span class="accent">Mentors</span></h2>
    <ul class="description-list">
      <li class="list-our-mentors">
        <img
          class="mentors-item-img"
          src="./img/girl 1our-mentors@1x_result.jpg"
          alt="img-our-mentors"
          width="180"
          height="180"
        />
        <h3 class="mentors-item-name">Emilia Smith</h3>
        <p class="mentors-item-text">1.5 years of experience</p>
      </li>
      <li class="list-our-mentors">
        <img
          class="mentors-item-img"
          src="./img/boy 1our-mentors@1x_result.jpg"
          alt="img-our-mentors"
          width="180"
          height="180"
        />
        <h3 class="mentors-item-name">Alex Lebedev</h3>
        <p class="mentors-item-text">3.5 years of experience</p>
      </li>
      <li class="list-our-mentors">
        <img
          class="mentors-item-img"
          src="./img/girl 2our-mentors@1x_result.jpg"
          alt="img-our-mentors"
          width="180"
          height="180"
        />
        <h3 class="mentors-item-name">Mia Dubrovska</h3>
        <p class="mentors-item-text">2.0 years of experience</p>
      </li>
      <li class="list-our-mentors">
        <img
          class="mentors-item-img"
          src="../img/boy 2our-mentors@1x_result.jpg"
          alt="img-our-mentors"
          width="180"
          height="180"
        />
        <h3 class="mentors-item-name">Eliot Kovalev</h3>
        <p class="mentors-item-text">4.0 years of experience</p>
      </li>
    </ul>
  </div>
</section>
