<section class="section">
    <div class="reviews-container container">
        <h2>Reviews</h2>
        <ul class="reviews-list">
            <li class="reviews-item">
                <div class="reviews-item-student">
                    <img class="reviews-foto" srcset="./img/userreviews@1x_result.jpg 1x, ./img/userreviews@2x_result.jpg 2x" src=".\img\userreviews@1x_result.jpg" alt="reviews-foto-man">
                    <div class="reviews-student">
                        <h3 class="reviews-student-name">Abraham Baker</h3>
                        <p class="reviews-student-position">Student</p>
                    </div>
                </div>
                <ul>
                    <li></li>
                </ul>
                <p class="reviews-review-text">I am very pleased that I decided to enroll in photography school. The teachers turned out to be very talented and experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my skills and discover my own style.</p>
            </li>
        </ul>
    </div>
</section>