<section class="reviews-section section" id="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-section-name">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item" id="reviews-section">
        <div class="reviews-item-rate">
          <div class="reviews-item-student">
            <img
              class="reviews-foto"
              width="56"
              height="56"
              srcset="
                ./img/userreviews@1x_result.png 1x,
                ./img/userreviews@2x_result.png 2x
              "
              src="./img/userreviews@1x_result.png"
              alt="reviews-foto-man"
            />
            <div class="reviews-student">
              <h3 class="reviews-student-name">Abraham Baker</h3>
              <p class="reviews-student-position">Student</p>
            </div>
          </div>
          <ul class="reviews-stars-list">
            <li class="reviews-stars">
              <svg class="reviews-star" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-stars">
              <svg class="reviews-star" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-stars">
              <svg class="reviews-star" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-stars">
              <svg class="reviews-star" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-stars">
              <svg class="reviews-star" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
        </div>

        <p class="reviews-review-text">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>

      <li class="reviews-item">
        <div class="reviews-item-rate">
          <div class="reviews-item-student">
            <img
              class="reviews-foto"
              srcset="
                ./img/userreviews@1x-1_result.png 1x,
                ./img/userreviews@2x-1_result.png 2x
              "
              src="./img/userreviews@1x-1_result.png"
              alt="reviews-foto-man"
            />
            <div class="reviews-student">
              <h3 class="reviews-student-name">Amanda Lowery</h3>
              <p class="reviews-student-position">Student</p>
            </div>
          </div>
          <ul class="reviews-stars-list">
            <li class="reviews-stars">
              <svg class="reviews-star" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-stars">
              <svg class="reviews-star" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-stars">
              <svg class="reviews-star" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-stars">
              <svg class="reviews-star" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-stars">
              <svg class="reviews-star" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
        </div>
        <p class="reviews-review-text">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>
