.about-us-title {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: calc(32 / 28);
  margin-bottom: 40px;
}
.list-description {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
}
.list-description-text {
  font-size: 14px;
  font-style: normal;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
}
.list-description-item {
}
@media only screen and (min-width: 768px) {
  .about-us-title {
    font-size: 48px;
    letter-spacing: 0.04em;
    margin-bottom: 50px;
    line-height: calc(54 / 48);
  }
  .list-description {
    flex-direction: row;
    gap: 40px;
    align-items: start;
  }
  .list-description-text {
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;
  }
  .list-description-item {
    width: 280px;
  }
}

@media only screen and (min-width: 1280px) {
  .about-content {
    display: flex;
    max-width: 1080px;
  }
  .list-description {
    margin-top: 0;
    gap: 20px;
  }
  .list-description-item {
    width: 266px;
  }
  .about-us-picture {
    margin-right: 40px;
  }
  .about-pic {
    width: auto;
    height: auto;
  }
}
