body {
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  background-color: #121212;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

button {
  /* display: block; */
  padding: 0;
  border: none;
  cursor: pointer;
}
