.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
/* !mobile ------------------------ */
.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* !tablet ------------------------ */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
/* !Desktop ------------------------ */
@media only screen and (min-width: 1280px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1280px;
  }
}
/* !mobile ------------------------ */
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* !tablet ------------------------ */
@media only screen and (min-width: 768px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
/* !Desktop ------------------------ */
@media only screen and (min-width: 1280px) {
  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.accent {
  color: #bea69e;
}
