/* Mobile */
    .footer {
        border-top: 1px solid rgba(255, 255, 255, 0.2) ;
        background-image: url(../img/Graphicfooter-line@1x_result.png);
        background-repeat: repeat;
        background-position: center;
        background-size: 499px 880px;
        padding-top: 40px;
        padding-bottom: 20px;
    
    }

    .footer-wrapper {
        max-width: 375px;
        max-height: 535px;
    }

    .logo-footer {
        fill: #FFF;
        margin-bottom: 16px;
    }
    
    .footer-contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 40px;
   }

    .footer-contacts-link {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: calc(18 / 14);
        letter-spacing: -0.02em;
    }

    .footer-block-menu {
        display: inline-flex;
        align-items: flex-start;
        gap: 40px;
    }
    
    .footer-social-networks {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
    }

    .footer-social-link {
        font-size: 14px;
        line-height: calc(16 / 14);
        color: #FFF;
    }

    .footer-menu-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
    }
    .footer-menu-link{ 
        color: #FFF;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: -0.04em;
    }

    .footer-form {
        margin-top: 75px;
        margin-bottom: 40px;
        color: #121212;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: calc(20 / 48);
        letter-spacing: -0.04em;
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

   .footer-form-input {
        border-radius: 12px;
        background: #FFF;
        width: 267px;
        height: 60px;
        padding: 20px 18px;
    }

    .footer-btn {
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: calc(120 / 48);
        width: 60px;
        height: 60px;
        border-radius: 12px;
        background: #1D1D1D;
    }

    .footer-inform-items {
        display: flex;
        justify-content: space-between;
    }

    .footer-policy {
        font-size: 12px;
        line-height: calc(16 / 12);
        letter-spacing: -0.04em;
    }

/* Tablet */
@media only screen and (min-width: 768px) {
    .footer {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        background-image: url(../img/Graphicfooter-line@1x_result.png);
        background-repeat: repeat;
        background-position: center;
        background-size: 768px 880px;
        padding-top: 50px;
        padding-bottom: 25px;
    
        }
    
    .footer-wrapper {
        max-width: 768px;
        max-height: 880px;
        }
    
    .logo-footer {
        fill: #FFF;
        margin-bottom: 25px;
        margin-right: 77px;
        }
    
    /* .footer-contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 40px;
        }
     */
    /* .footer-contacts-link {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: calc(18 / 14);
        letter-spacing: -0.02em;
        } */
    
    .footer-block-menu {
        display: inline-flex;
        align-items: flex-start;
        gap: 25px;
        }
    
    .footer-social-networks {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        }
    
    /* .footer-social-link {
        font-size: 14px;
        line-height: calc(16 / 14);
        color: #FFF;
        } */
    
    .footer-menu-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        }
    
    .footer-menu-link {
        color: #FFF;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: -0.04em;
        }
    
    .footer-form {
        margin-top: 75px;
        margin-bottom: 40px;
        color: #121212;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: calc(20 / 48);
        letter-spacing: -0.04em;
        display: flex;
        flex-direction: row;
        gap: 8px;
        }
    
    .footer-form-input {
        border-radius: 12px;
        background: #FFF;
        width: 267px;
        height: 60px;
        padding: 20px 18px;
        }
    
    .footer-btn {
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: calc(120 / 48);
        width: 60px;
        height: 60px;
        border-radius: 12px;
        background: #1D1D1D;
        }
    
    .footer-inform-items {
        display: flex;
        justify-content: space-between;
        }

}

/* Desktop */

/* @media only screen and (min-width: 1280px) {
    .footer {
        background-image: url(../img/Graphicheader-hero-line@2x_result.png);
    }

    .logo-footer {
        width: 123px;
        height: 16px;
    }

    .contacts { 
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: calc(18 / 48);
        text-transform: uppercase;
      }
    .footer-policy {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: calc(18 / 48);
    }

    .footer-right-items {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: calc(18 / 48);
    }

    .footer-social-networks {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: calc(18 / 48);
        text-transform: uppercase;
    }

    .footer-items {
        
    }

    .footer-link {
       
    }

    .footer-menu {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: calc(18 / 48);
        text-transform: uppercase;
    }

    .footer-form {
        min-width: 216px;
        height: 60px;
    }

    .footer-form-input {
        border-radius: 12px;
        background: #FFF;
    }

    .footer-btn {
    }
} */