/* Mobile */
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 40px;
  padding-bottom: 20px;
  background-repeat: repeat;
  background-position: center;
  background-size: contain;

  background-image: url('../img/graphicfooterlineback320@1x.png');
}
@media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .footer {
    background-image: url('../img/graphicfooterlineback320@1x@2x.png');
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    background-image: url('../img/graphicfooterlineback768@1x.png');
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .footer {
    background-image: url('../img/graphicfooterlineback768@2x.png');
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    background-image: url('../img/graphicfooterlineback1280@1x.png');
  }
}
@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .footer {
    background-image: url('../img/graphicfooterlineback1280@2x.png');
  }
}

.footer-wrapper {
  max-width: 375px;
  max-height: 535px;
}

.logo-footer {
  fill: #fff;
  margin-bottom: 16px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.footer-contacts-link {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-link:focus,
.footer-contacts-link:hover,
.footer-contacts-link:active {
  color: #bea69e;
}

.footer-block-menu {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

.footer-social-networks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.footer-social-link {
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:focus,
.footer-social-link:hover,
.footer-social-link:active {
  color: #bea69e;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.footer-menu-link {
  color: #fff;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-link:focus,
.footer-menu-link:hover,
.footer-menu-link:active {
  color: #bea69e;
}

.footer-form {
  margin-top: 75px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: -0.04em;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.footer-form-input {
  border-radius: 12px;
  background: #fff;
  width: 267px;
  height: 60px;
  padding: 20px 18px;
}

.footer-form-input::placeholder {
  opacity: 0.7;
}

.footer-btn {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: calc(120 / 48);
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background-color: #1d1d1d;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-inform-items {
  display: flex;
  justify-content: space-between;
}

.footer-policy {
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: -0.04em;
}

.footer-btn:hover,
.footer-btn:focus,
.footer-btn:active {
  color: #bea69e;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 25px;
    background-size: contain;
  }

  .footer-wrapper {
    max-width: 768px;
    max-height: 880px;
  }

  .footer-inside-wrapper {
    display: flex;
    margin-bottom: 50px;
  }

  .logo-footer {
    margin-bottom: 25px;
    margin-right: 77px;
  }

  .footer-block-menu {
    gap: 25px;
    margin-right: 0;
  }
  .footer-contacts {
    margin-bottom: 0;
  }
  .footer-form {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .footer-form-input {
    max-width: 178px;
  }
}

/* Desktop */

@media only screen and (min-width: 1280px) {
  .footer {
    background-size: contain;
  }

  .footer-inside-wrapper {
    margin-bottom: 74px;
  }

  .footer-wrapper {
    max-width: 1280px;
    max-height: 880px;
  }

  .logo-footer {
    margin-right: 304px;
  }

  .footer-block-menu {
    gap: 50px;
  }

  .footer-social-networks {
    gap: 20px;
  }

  .footer-menu-list {
    gap: 20px;
  }

  .footer-menu-link:focus,
  .footer-menu-link:hover {
    color: #bea69e;
  }

  .footer-form {
    gap: 16px;
  }

  .footer-form-input {
    max-width: 216px;
  }
}
