.courses-dacr {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.courses-header {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
}

.accent {
  color: #bea69e;
}

.courses-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
}

.courses-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  counter-reset: li;
}

.courses-list-item {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 28px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}
.courses-list li:before {
  content: counter(li, decimal-leading-zero);
  counter-increment: li;
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
}

.courses-card-hrader {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  max-width: 265px;
  margin-bottom: 164px;
}

.courses-card-dscr {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-bottom: auto;
}

.courses-card-link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #1d1d1d;
  width: 32px;
  height: 32px;
  margin-bottom: 28px;
  margin-left: auto;
}

.courses-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.courses-card-icon {
  width: 20px;
  height: 20px;
  stroke: #777777;
}

.courses-list-link:hover,
.courses-list-link:focus {
  background-color: #bea69e;
}

.courses-list-link:hover > .courses-card-icon,
.courses-list-link:focus > .courses-card-icon {
  stroke: #ffffff;
}

@media only screen and (min-width: 768px) {
  .our-courses {
    display: flex;
    flex-direction: column;
  }

    .our-courses {
        display: flex;
        flex-direction: column;
    }

    .courses-dacr {
        display: flex;
        flex-direction: row;
        gap: 58px;
        margin-bottom: 50px;

    }

    .courses-header {
        font-size: 48px;
        line-height: 54px;
        letter-spacing: -1.92px;
    }

    .courses-text {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.32px;
        width: 381px;
    }

    .courses-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .courses-list:last-child {
        justify-content: flex-start;
    }

    .courses-list-item {
        padding: 32px;
        max-width: 342px;
    }
    .courses-card-link-box {
        margin-bottom: 32px;
    }
    .courses-card-hrader {
        margin-bottom: 180px;
    }

    .courses-card-dscr {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.32px;
    }


  .courses-card-dscr {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
  }
}
@media only screen and (min-width: 1280px) {
  .courses-text {

    width: 405px;
  }
  .courses-list-item {
    width: calc((100% - 20px * 2) / 3);
  }
  .courses-dacr {
    gap:410px;
  }
}
