.sign-up.content {
  max-width: 335px;
}
.sign-up-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 10px;
}
.sign-up-description {
  max-width: 295px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}
.sign-up-laptop {
  display: none;
}
.sign-up-picture {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .sign-up.content {
    max-width: 480px;
  }
  .sign-up-title {
    font-size: 48px;
    line-height: 1.12;
  }
  .sign-up-description {
    max-width: 480px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
}

@media only screen and (min-width: 1280px) {
  .sign-up.container {
    display: flex;
    justify-content: space-between;
  }
  .sign-up.content {
    max-width: 480px;
    height: 578px;
  }
  .sign-up-laptop {
    display: block;
  }
  .sign-up-picture {
    visibility: visible;
  }
  .sign-up-title {
    font-size: 48px;
    line-height: 1.12;
  }
  .sign-up-description {
    max-width: 480px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
}

/*Стилізація форми*/

.sign-up-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-field {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  background-color: #121212;
  height: 46px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 14px 18px 14px;
  border-color: #ffffff33;
  background-color: transparent;
}
.sign-up-wrapper .form-field:hover,
.sign-up-wrapper .form-field:focus,
.sign-up-wrapper .form-field:active {
  border-color: #ffffff80;
  background-color: #121212;
  color: #fff;
}
.sign-up-wrapper #user-message {
  height: 112px;
}
.form-field.input {
  opacity: 0.7;
  box-sizing: border-box;
}
.sign-up-wrapper input,
.sign-up-wrapper textarea {
  color: #fff;
  resize: none;
}
@media only screen and (min-width: 768px) {
  .sign-up-wrapper {
    margin-bottom: 14px;
  }
  .form-field {
    font-size: 16px;
    line-height: 1.25px;
    height: 60px;
    padding: 20px 18px 20px;
  }
  .sign-up-wrapper #user-message {
    height: 119px;
  }
}
@media only screen and (min-width: 1280px) {
  .sign-up-wrapper {
    margin-bottom: 14px;
  }
  .form-field {
    font-size: 16px;
    line-height: 1.25;
    height: 60px;
    padding: 20px 18px 20px;
  }
  .sign-up-wrapper #user-message {
    height: 119px;
  }
}

/* Оформлення кнопки в формі*/

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 48px;
  padding: 14px 127px;
  border-radius: 12px;
  background: #fff;
  margin-top: 40px;
  cursor: pointer;
}
.send-text {
  color: #121212;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}

.privacy-policy {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  margin-top: 20px;
  letter-spacing: -0.02em;
}
.privacy-policy-link {
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 768px) {
  .form-btn {
    width: 480px;
    height: 60px;
  }
  .send-text {
    font-size: 18px;
    line-height: 1.55;
  }
  .privacy-policy {
    max-width: 480px;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
  }
}
@media only screen and (min-width: 1280px) {
  .form-btn {
    width: 480px;
    height: 60px;
  }
  .send-text {
    font-size: 18px;
    line-height: 1.55;
  }
  .privacy-policy {
    font-size: 14px;
    line-height: 1.29;
  }
}
