.sign-up.content {
  max-width: 335px;
}
.sign-up-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 10px;
}
.sign-up-description {
  max-width: 295px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}
.sign-up-laptop {
  display: none;
}
.sign-up-picture {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .sign-up.content {
    max-width: 480px;
  }
  .sign-up-title {
    font-size: 48px;
    line-height: 1.12;
  }
  .sign-up-description {
    max-width: 480px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: left;
  }
}

@media only screen and (min-width: 1280px) {
  .sign-up.container {
    display: flex;
    justify-content: space-between;
  }
  .sign-up.content {
    max-width: 480px;
    height: 578px;
  }
  .sign-up-laptop {
    display: block;
  }
  .sign-up-picture {
    visibility: visible;
  }
  .sign-up-title {
    font-size: 48px;
    line-height: 1.12;
  }
  .sign-up-description {
    max-width: 480px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
}

/*Стилізація форми*/

.sign-up-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-field {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  background-color: #121212;
  height: 46px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 14px 18px 14px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sign-up-wrapper .form-field:hover,
.sign-up-wrapper .form-field:focus {
  border-color: #ffffff80;
  outline: none;
}
.sign-up-wrapper .sign-up-form-textarea {
  height: 112px;
}

.sign-up-form-textarea {
  color: #fff;
  resize: none;
}

.sign-up-wrapper input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  -webkit-text-fill-color: #fff !important;
}

@media only screen and (min-width: 768px) {
  .sign-up-wrapper {
    margin-bottom: 14px;
  }
  .form-field {
    font-size: 16px;
    line-height: 1.25px;
    height: 60px;
    padding: 20px 18px 20px;
  }
  .sign-up-wrapper .sign-up-form-textarea {
    height: 119px;
  }
}
@media only screen and (min-width: 1280px) {
  .sign-up-wrapper {
    margin-bottom: 14px;
  }
  .form-field {
    font-size: 16px;
    line-height: 1.25;
    height: 60px;
    padding: 20px 18px 20px;
  }
}

/* Оформлення кнопки в формі*/

.form-btn {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 14px 127px;
  border-radius: 12px;
  background: #fff;
  margin-top: 40px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
  background-color: #1d1d1d;
}
.send-text {
  color: #121212;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover .send-text,
.form-btn:focus .send-text {
  color: #bea69e;
}
.privacy-policy {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  margin-top: 20px;
  letter-spacing: -0.02em;
}
.privacy-policy-link {
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 768px) {
  .form-btn {
    width: 480px;
    height: 60px;
  }
  .send-text {
    font-size: 18px;
    line-height: 1.55;
  }
  .privacy-policy {
    max-width: 480px;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
  }
}
@media only screen and (min-width: 1280px) {
  .form-btn {
    width: 480px;
    height: 60px;
  }
  .send-text {
    font-size: 18px;
    line-height: 1.55;
  }
  .privacy-policy {
    font-size: 14px;
    line-height: 1.29;
  }
}
