/*! section style------------------------------------------------------------------------------------------------------------------------------- */

@import url('./base.css');
@import url('./comon.css');

/*! section style------------------------------------------------------------------------------------------------------------------------------- */
@import url('./header.css');
@import url('./hero.css');
@import url('./advertisement.css');
@import url('./about-us.css');
@import url('./our-courses.css');
@import url('./our-mentors.css');
@import url('./sing-up.css');
@import url('./reviews.css');
@import url('./footer.css');

















